<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cuisine">
            <h2><span>Cuisine</span> {{cuisine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{cuisine.type}}</span>
                </dd>
                <dt><span>Food Image</span></dt>
                <dd>
                    <div *ngIf="cuisine.foodImage">
                        <a (click)="openFile(cuisine.foodImageContentType, cuisine.foodImage)">
                            <img [src]="'data:' + cuisine.foodImageContentType + ';base64,' + cuisine.foodImage" style="max-width: 100%;" alt="cuisine image"/>
                        </a>
                        {{cuisine.foodImageContentType}}, {{byteSize(cuisine.foodImage)}}
                    </div>
                </dd>
                <dt><span>Hotel</span></dt>
                <dd>
                    <div *ngIf="cuisine.hotelId">
                        <a [routerLink]="['/hotel', cuisine.hotelId, 'view']">{{cuisine.hotelName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cuisine', cuisine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
