<div>
    <h2 id="page-heading">
        <span>Cuisines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cuisine" [routerLink]="['/cuisine/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Cuisine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cuisines">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span>Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="foodImage"><span>Food Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hotelName"><span>Hotel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cuisine of cuisines ;trackBy: trackId">
                <td><a [routerLink]="['/cuisine', cuisine.id, 'view' ]">{{cuisine.id}}</a></td>
                <td>{{cuisine.name}}</td>
                <td>{{cuisine.price}}</td>
                <td>{{cuisine.type}}</td>
                <td>
                    <a *ngIf="cuisine.foodImage" (click)="openFile(cuisine.foodImageContentType, cuisine.foodImage)">
                        <img [src]="'data:' + cuisine.foodImageContentType + ';base64,' + cuisine.foodImage" style="max-height: 30px;" alt="cuisine image"/>
                    </a>
                    <span *ngIf="cuisine.foodImage">{{cuisine.foodImageContentType}}, {{byteSize(cuisine.foodImage)}}</span>
                </td>
                <td>
                    <div *ngIf="cuisine.hotelId">
                        <a [routerLink]="['../hotel', cuisine.hotelId , 'view' ]" >{{cuisine.hotelName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cuisine', cuisine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cuisine', cuisine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cuisine/'+ cuisine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
