<div>
    <h2 id="page-heading">
        <!-- <span>Bookings</span> -->
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking" [routerLink]="['/booking/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Booking
            </span>
        </button> -->
        <div class="row">
                <div class="col-4"> <span>Bookings</span></div>
                <div class="col-4"><div class="input-group">
                        <label class="form-control-label" for="field_hotel" style="margin-right: 2%;">Hotel</label>
                        <select class="form-control" id="field_hotel" name="hotel" [(ngModel)]="hotel" (change)="changeHotel()">
                            <option [ngValue]="1" selected>All</option>
                            <option [ngValue]="hotelOption.id" *ngFor="let hotelOption of hotels;">{{hotelOption.name}}</option>
                        </select>
                    </div></div>
               
            </div>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bookings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <!-- <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th jhiSortBy="bookDate"><span>Book Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bookTime"><span>Book Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noOfGuest"><span>No Of Guest</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span>Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hotelName"><span>Hotel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hotelTableTableNumber"><span>Hotel Table</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLogin"><span>Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let booking of bookings ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/booking', booking.id, 'view' ]">{{booking.id}}</a></td> -->
                <td>{{booking.bookDate | date:'mediumDate'}}</td>
                <td>{{booking.bookTime}}</td>
                <td>{{booking.noOfGuest}}</td>
                <td>{{booking.active}}</td>
                <td>
                    <div *ngIf="booking.hotelId">
                        <a [routerLink]="['../hotel', booking.hotelId , 'view' ]" >{{booking.hotelName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="booking.hotelTableId">
                        <a [routerLink]="['../hotel-table', booking.hotelTableId , 'view' ]" >{{booking.hotelTableTableNumber}}</a>
                    </div>
                </td>
                <td>
                    {{booking.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/booking', booking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking', booking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
