<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hotelTable">
            <h2><span>Hotel Table</span> {{hotelTable.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Table Number</span></dt>
                <dd>
                    <span>{{hotelTable.tableNumber}}</span>
                </dd>
                <dt><span>No Of Customer</span></dt>
                <dd>
                    <span>{{hotelTable.noOfCustomer}}</span>
                </dd>
                <dt><span>Hotel</span></dt>
                <dd>
                    <div *ngIf="hotelTable.hotelId">
                        <a [routerLink]="['/hotel', hotelTable.hotelId, 'view']">{{hotelTable.hotelId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hotel-table', hotelTable.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
