<div>
    <h2 id="page-heading">
        <span>Hotel Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hotel-table" [routerLink]="['/hotel-table/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Hotel Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hotelTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Table Number</span></th>
            <th><span>No Of Customer</span></th>
            <th><span>Hotel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotelTable of hotelTables ;trackBy: trackId">
                <td><a [routerLink]="['/hotel-table', hotelTable.id, 'view' ]">{{hotelTable.id}}</a></td>
                <td>{{hotelTable.tableNumber}}</td>
                <td>{{hotelTable.noOfCustomer}}</td>
                <td>
                    <div *ngIf="hotelTable.hotelId">
                        <a [routerLink]="['../hotel', hotelTable.hotelId , 'view' ]" >{{hotelTable.hotelName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hotel-table', hotelTable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hotel-table', hotelTable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hotel-table/'+ hotelTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
