<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hotel">
            <h2><span>Hotel</span> {{hotel.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <!-- <dt><span>Image</span></dt> -->
                <div class="row">
                    <div class="col-md-6" *ngIf="hotel.image">
                        <a (click)="openFile(hotel.imageContentType, hotel.image)">
                            <img [src]="'data:' + hotel.imageContentType + ';base64,' + hotel.image" style="max-width: 100%;" alt="hotel image"/>
                        </a>
                        <!-- {{hotel.imageContentType}}, {{byteSize(hotel.image)}} -->
                    </div>
                    <div class="col-md-6">
                        <h3> <b>{{hotel.name}}</b></h3>
                        <span>{{hotel.type}}</span><br>
                        <hr>
                        <span>Open Time: {{hotel.openTime |  date:'shortTime'}}</span><br>
                        <span>Close Time: {{hotel.closeTime | date:'shortTime'}}</span>
                        <br>
                        <hr>
                        <span>Location: {{hotel.address}}, {{hotel.city}}, {{hotel.pincode}}</span>
                    </div>
                </div>
                <dd>
                    <span>{{hotel.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hotel', hotel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
