<div class="row justify-content-center">
    <div class="col-md-7">
        <div *ngIf="hotel">
            <h2><span>Hotel</span> {{hotel.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <!-- <dt><span>Image</span></dt> -->
                <div class="row">
                    <div class="col-md-4" *ngIf="hotel.image">
                        <a (click)="openFile(hotel.imageContentType, hotel.image)">
                            <img [src]="'data:' + hotel.imageContentType + ';base64,' + hotel.image" style="max-width: 100%;" alt="hotel image"/>
                        </a>
                        <!-- {{hotel.imageContentType}}, {{byteSize(hotel.image)}} -->
                    </div>
                    <div class="col-md-8">
                        <h3> <b>{{hotel.name}}</b></h3>
                        <span>{{hotel.type}}</span><br>
                        <hr>
                        <span>Open Time: {{hotel.openTime |  date:'shortTime'}} | Close Time: {{hotel.closeTime | date:'shortTime'}}</span>
                        <br>
                        <hr>
                        <span>Location: {{hotel.address}}, {{hotel.city}}, {{hotel.pincode}}</span>
                    </div>
                </div>
                <br>
                    <dd>
                        <span>{{hotel.description}}</span>
                    </dd>
                    <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Tables</h3>
                        <div class="input-group" *ngIf="hotelTables">
                                <div *ngFor="let hotelTable of hotelTables;">
                                    <a>                                
                                        <div *ngIf="hotelTable.status == 'Available'" style="background-color: #71bf71;width: 5vw;height: 5vw; margin-left: 2px;margin-top: 2px;">
                                       <h3>{{hotelTable.tableNumber}}</h3>
                                       <span style="font-size: 10px">Customers: {{hotelTable.noOfCustomer}}</span>
                                    </div>
                                    <div *ngIf="hotelTable.status == 'Unavailable'" style="background-color:  #ff8a00b8;width: 5vw;height: 5vw; margin-left: 2px;margin-top: 2px;">
                                            <h3>{{hotelTable.tableNumber}}</h3>
                                            <span style="font-size: 10px">Customers: {{hotelTable.noOfCustomer}}</span>
                                         </div>
                                </a>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                                <div style="background-color:  #71bf71; height: 20px; width: 20px"></div>
                                &nbsp;&nbsp;&nbsp;<span>Available</span>
                        </div>
                        <div class="input-group">
                                <div style="background-color:  #ff8a00b8; height: 20px; width: 20px"></div>
                                &nbsp;&nbsp;&nbsp;<span>Booked</span>
                        </div>
                       
                       
                    </div>
                </div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
    <div class="col-md-2">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <h2 id="jhi-booking-heading">Booking</h2>
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group">
                        <label class="form-control-label" for="field_bookDate">Select Date</label>
                        <div class="input-group">
                            <input id="field_bookDate" type="text" class="form-control" name="bookDate" ngbDatepicker  #bookDateDp="ngbDatepicker" [(ngModel)]="booking.bookDate"
                            required/>
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="bookDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                        </div>
                        <div [hidden]="!(editForm.controls.bookDate?.dirty && editForm.controls.bookDate?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.bookDate?.errors?.required">
                            This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_bookTime">Select Time</label>
                        <input type="time" class="form-control" name="bookTime" id="field_bookTime" 
                        [(ngModel)]="booking.bookTime" required />
                        <div [hidden]="!(editForm.controls.bookTime?.dirty && editForm.controls.bookTime?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.bookTime?.errors?.required">
                            This field is required.
                            </small>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_noOfGuest">No Of Guest</label>
                        <input type="number" class="form-control" name="noOfGuest" id="field_noOfGuest"
                        [(ngModel)]="booking.noOfGuest"  required min="1" jhiMin="1"/>
                        <div [hidden]="!(editForm.controls.noOfGuest?.dirty && editForm.controls.noOfGuest?.invalid)">
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.noOfGuest?.errors?.required">
                            This field is required.
                            </small>
                            <small class="form-text text-danger"
                                [hidden]="!editForm.controls.noOfGuest?.errors?.number">
                                This field should be a number.
                            </small>
                            <small class="form-text text-danger"
                            [hidden]="!editForm.controls.bookTime?.errors?.min">
                            This field should be at least 1.
                        </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_hotelTable">Select Table</label>
                        <select class="form-control" id="field_hotelTable" name="hotelTable" [(ngModel)]="booking.hotelTableId" >
                            <option [ngValue]="hotelTableOption.id" *ngFor="let hotelTableOption of availableHotelTables;">{{hotelTableOption.tableNumber}}</option>
                        </select>

                    </div>
                    <div [hidden]="!(editForm.controls.hotelTable?.dirty && editForm.controls.hotelTable?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.hotelTable?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div>
                    <!-- <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button> -->
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" style="width: 100%">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Book</span>
                    </button>
                </div>
            </form>
        </div>
</div>
