<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="staff">
            <h2><span>Staff</span> {{staff.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{staff.name}}</span>
                </dd>
                <dt><span>Contact No</span></dt>
                <dd>
                    <span>{{staff.contactNo}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{staff.address}}</span>
                </dd>
                <dt><span>Hotel</span></dt>
                <dd>
                    <div *ngIf="staff.hotelId">
                        <a [routerLink]="['/hotel', staff.hotelId, 'view']">{{staff.hotelId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/staff', staff.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
