<div>
    <h2 id="page-heading">
        <span>Time Slots</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-time-slot" [routerLink]="['/time-slot/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Time Slot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="timeSlots">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Day</span></th>
            <th><span>Status</span></th>
            <th><span>Hotel</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeSlot of timeSlots ;trackBy: trackId">
                <td><a [routerLink]="['/time-slot', timeSlot.id, 'view' ]">{{timeSlot.id}}</a></td>
                <td>{{timeSlot.day}}</td>
                <td>{{timeSlot.status}}</td>
                <td>
                    <div *ngIf="timeSlot.hotelId">
                        <a [routerLink]="['../hotel', timeSlot.hotelId , 'view' ]" >{{timeSlot.hotelName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/time-slot', timeSlot.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/time-slot', timeSlot.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'time-slot/'+ timeSlot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
